*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, "Helvetica Neue", "Helvetica";
}
body{
    background-color: #f1f4f8;
}
.dice, .wobbly-boxes{
    width: 100vw;
}
.dice{
    background-color: rgb(255, 192, 203);
    h1{
        text-align: center;
        color: rgb(89, 145, 218);
        padding: 1rem;
    }
}
.wobbly-boxes{
    background-color: rgb(192, 253, 255);
    h1{
        text-align: center;
        color: rgba(255, 59, 102, 0.815);
        padding: 1rem;
    }
    Canvas{
        min-height: 500px;
    }
}